<h1>Dashboard</h1>

<h2>Contact details</h2>



<% if @user.user_type == 0 %>
  <% if @user.consumer_contact %>
    <%= link_to "Edit contact", edit_user_consumer_contact_path(@user.id, @user.consumer_contact.id) %>
    <%= render "shared/consumer_contact", consumer_contact: @user.consumer_contact %>
  <% else %>
    <p>Please add your contact details</p>
    <%= link_to "Add contact details", new_user_consumer_contact_path(@user.id) %>
  <% end %>

  <% if @user.marriage %>
    <%= render "marriages/show", marriage: @user.marriage %>
    <%= link_to "Edit marriage", edit_user_marriage_path(@user.id, @user.marriage.id) %>
    <%= link_to "Add event", new_marriage_event_path(@user.marriage.id) %>
    <%= link_to "Add job", new_marriage_job_path(@user.marriage.id) %>
  <% end %>
  <%= link_to "Add marriage", new_user_marriage_path(@user.id) %>

  <%= link_to "Invite via email", new_user_invite_path(@user.id) %>
<% end %>



<% if @user.user_type == 1 %>
  <% if @user.service_contact %>
    <%= link_to "Edit contact", edit_user_service_contact_path(@user.id, @user.service_contact.id) %>
    <%= render "shared/service_contact", service_contact: @user.service_contact %>
  <% else %>
    <p>Please add your contact details</p>
    <%= link_to "Add contact details", new_user_service_contact_path(@user.id) %>
  <% end %>

  <%= render "posts/service_show", user: @user %>
  <%= link_to "Add post", new_user_post_path(@user) %>

  <% if @user.photos.any? %>
    <%= render "photos/service_show", user: @user %>
  <% end %>
  <%= link_to "Add photo", new_user_photo_path(@user.id) %>
<% end %>
