<ul>
  <li>
    <dl>
      <dt>Business name</dt>
      <dd><%= service_contact.business_name %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Street address 1</dt>
      <dd><%= service_contact.street_address_1 %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Street address 2</dt>
      <dd><%= service_contact.street_address_2 %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Postcode</dt>
      <dd><%= service_contact.postcode %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Landline number</dt>
      <dd><%= service_contact.landline_number %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Mobile number</dt>
      <dd><%= service_contact.mobile_number %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Fax number</dt>
      <dd><%= service_contact.fax_number %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Website</dt>
      <dd><%= service_contact.website %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Email</dt>
      <dd><%= service_contact.email %></dd>
    </dl>
  </li>
</ul>
