<ul>
  <li>
    <dl>
      <dt>Title</dt>
      <dd><%= marriage.title %></dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Couple</dt>
      <dd>
        <% marriage.couple.users.each do |couple_user| %>
          <%= couple_user.first_name + " " + couple_user.last_name %>
        <% end %>
      </dd>
    </dl>
  </li>
  
  <% if marriage.events.any? %>
    <li>
      <dl>
        <dt>Events</dt>
        <dd>
          <% marriage.events.each do |e| %>
            <%= e.title %>
            <%= e.date %>
            <%= e.street_address_1 %>
            <%= e.street_address_2 %>
            <%= e.postcode %>
          <% end %>
        </dd>
      </dl>
    </li>
  <% end %>

  <% if marriage.jobs.any? %>
    <li>
      <dl>
        <dt>Jobs</dt>
        <dd>
          <% marriage.jobs.each do |j| %>
            <%= j.title %>
            <%= j.application_due_date %>
            <%= j.description %>
            <%= j.tag_list.join ", " %>
            <%= j.theme_list.join ", " %>
            <%= link_to "Edit job", edit_marriage_job_path(marriage.id, j.id) %>
          <% end %>
        </dd>
      </dl>
    </li>
    
  <% end %>
</ul>
